@charset "UTF-8";
.gallery__menu > label, .gallery__block-title, .museum__about {
  font-weight: 500;
  font-size: 1.25625rem;
  line-height: 27.46px;
  text-align: center;
}

#museum__search_one_input-button, #museum__search_two_input-button, #museum__search_three_input-button, #museum__search_four_input-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#museum__search_one-input, #museum__search_two-input, #museum__search_three-input, #museum__search_four-input {
  width: 200px;
  height: 40px;
  border: 1px solid #000000;
  padding: 0 10px 0 10px;
  border-radius: 15px;
}

#museum__search_one-button, #museum__search_two-button, #museum__search_three-button, #museum__search_four-button {
  background-image: url("../images/search.svg");
  background-color: #f9f9f9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid;
  width: 50px;
  height: 41px;
  border-radius: 20px;
}
#museum__search_one-button:hover, #museum__search_two-button:hover, #museum__search_three-button:hover, #museum__search_four-button:hover {
  border: 2px solid;
  background-color: #f9f9f9;
  background-image: url("../images/search_hover.svg");
}

.museum__search_one-result, .museum__search_two-result, .museum__search-three-result, .museum__search_four-result {
  margin: 50px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 1rem;
}

@font-face {
  font-family: "Avenir-Regular";
  src: url("../fonts/Avenir-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir-Bold";
  src: url("../fonts/Avenir-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Avenir-Regular";
}

h2 {
  text-align: center;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
}

/* Стили для header */
.header {
  grid-column: 1fr, 1fr;
  grid-row: 1fr, 1fr;
}

.menu {
  display: grid;
  grid-area: "menu";
  grid-template-columns: repeat(6, auto);
  width: 53em;
  gap: 10px;
  height: 1.1em;
  list-style: none;
  padding-bottom: 60px;
}

.buttons {
  display: flex;
  position: absolute;
  gap: 10px;
  top: 0px;
  right: 70px;
  list-style: none;
}

.log_in {
  width: 65px;
  height: 35px;
  color: rgb(8, 8, 8);
  border: 0.7px solid rgb(230, 230, 230);
  background-color: rgb(255, 255, 255);
}

.getStarted {
  width: 130px;
  height: 35px;
  background-color: rgb(234, 116, 98);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(92, 92, 92);
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 60px;
  gap: 10px;
  color: rgb(0, 0, 0);
}

/* Конец  header */
/********************************** GALLERY ***********************************/
.gallery__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.gallery__menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-left: 2.9375rem;
  border-bottom: 1.12px solid #e5e5e5;
}
.gallery__menu > input[type=radio] {
  display: none;
}
.gallery__menu > input[type=radio]:checked + label {
  cursor: default;
  font-weight: bold;
  color: #e36f2d;
  border-bottom-color: #000000;
}
.gallery__menu > label {
  letter-spacing: 0.04em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #000000;
  background: 0 0;
  border-bottom: 0.125rem solid transparent;
}
.gallery__menu > label:hover {
  border-bottom-color: #000000;
}
.gallery__block {
  margin: 0 0 0 10.4375rem;
  width: 22.25rem;
  overflow: hidden;
}
.gallery__block-title {
  color: #e36f2d;
  vertical-align: middle;
}
.gallery__block-title:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 75%;
  height: 1.5px;
  background-color: #e36f2d;
  position: relative;
}
.gallery__block-title:before {
  margin-left: -100%;
  left: -16.75px;
}
.gallery__block-text {
  font-family: "Avenir-Bold";
  color: #000000;
  font-size: 2rem;
  font-weight: 800;
  line-height: 3.43rem;
  margin: 1.033rem 0 0 0;
}

.hidden {
  display: none !important;
}

.museum__about {
  margin: 0 0 10px 0;
  display: flex;
  margin: 0 0 10px 0;
  flex-direction: column;
  align-items: flex-start;
}
.museum__about > p {
  text-align: start;
}
.museum__about_title {
  font-family: "Avenir-Bold";
}
.museum__container {
  margin-top: 3.75rem;
}
.museum__container-all {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.museum__container_picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.museum__container_picture > img {
  justify-content: center;
  margin: 0 0 20px 0;
  width: 60%;
}
.museum__container_picture > label {
  font-size: 20px;
}
.museum__title {
  text-align: center;
  font-size: 1.5rem;
}
.museum__title > a {
  color: #000000;
}
.museum__title > a:hover {
  cursor: pointer;
  color: #e36f2d;
  transition: 0.15s ease;
}
.museum__search {
  margin-top: 3.75rem;
}
/********************************** GALLERY ***********************************/
.testimonial__container {
  display: flex;
}

.testimonial__card {
  display: grid;
  width: 35%;
  margin: 1%;
}

.stars {
  display: flex;
  justify-content: space-between;
  padding-right: 7%;
}

.stars img {
  width: 35px;
}